@font-face {
  font-family: 'yg-jalnan';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/* header */
#header{
  background-color: rgba(255, 255, 255, 1);
}
#header #logo_image{content: url(../images/logo_black.png);} /* 이미지 src 수정 */
#header .main_menu ul li a, 
#header .header_search a i, 
#header .hamburger_menu i {color: #2c2c2c;}
#header .hamburger_menu_responsive i {color: #2c2c2c;}
#header .main_menu ul li:hover a{color: #6fa9dd;}

#header .main_menu .menu_item{
  position: relative;
  height: 106px;
  line-height: 106px;
}

/* subpage main visual */
.sub_main_visual{
  position: relative;
  top: 106px;
  width: 100%; height: 264px;
  background: url(../images/main_visual_subpage.png);
  margin-bottom: 39px;
}
.notice_board_name{
  position: absolute;
  top: 148px; right: 320px;
  font-size: 40px;
  font-weight: bold;
}
.current_notice_board{
  position: absolute;
  top: 202px; right: 320px;
}
.current_notice_board span,
.current_notice_board a,
.current_notice_board a i{color: #636466;  font-size: 16px;}

/* snb */
.snb{
  position: relative;
  top: 0; left: 320px;
  width: 305px; height: auto;
}
.snb_header .robot_img{
  position: absolute;
  left: 50%; top: -153px; transform: translateX(-50%) scale(-1, 1);
  width: 194px;
}
.snb_title{
  position: absolute;
  width: 100%; height: 121px;
  border-radius: 30px 30px 0 0;
  text-align: center;
  line-height: 121px;
  background-color: rgba(54, 137, 215, 1);
  background-image: linear-gradient(142deg, #fff, #002459 100%) 0.2%;
  box-shadow: inset 7px 8px 25px rgba(255, 255, 255, 0.43), inset -5px -5px 16px rgba(0, 0, 0, 0.34);
  z-index: 1;
}
.snb_title h3{
  font-weight: 500;
  font-size: 32px;
  color: #fff;
}
.snb_container{
  position: absolute;
  top: 120px;
  width: 100%;
  background-color: #fff;
  padding: 47px 34px;
  border-radius: 0 0 7px 7px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
.snb_item{padding: 14px 0;}
.snb_item ul{
  padding: 17px 14px;
  border-top: 3px solid #115596;
  border-bottom: 3px solid #115596;
}
.snb_item a{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  color: #666666;
  margin-bottom: 25px;
}
.snb_item li:last-child a{margin-bottom: 0;}

/* on */
.snb_item.on a h4, .snb_item.on a i, .snb_item ul li a.on{color: #115596;}
.snb_item.on a i{transform: rotate(90deg);}
.snb_item.on a::after{width: 102%;}

/* vision&history */
.contents{
  width: 911px;
  position: relative;
  left: 689px; top: 106px;
  margin-bottom: 200px;
}
#history{
  min-height: 600px;
  max-height: 2805px;
}
.vision_history_tabmenu{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 17px;
  margin-bottom: 51px;
}

.vision_history_tabmenu li a{
  width: 143px; height: 49px;
  border: 1px solid #014A8F;
  text-align: center;
  line-height: 49px;
  border-radius: 7px;
  color: #014A8F;
  display: block;
}
/* active */
.vision_history_tabmenu li.active{
  border: none;

}
.vision_history_tabmenu li a.active{
  color: #fff;
  font-weight: 600;
  background-color: #014A8F;
}

/* vision */
.title_line{
  height: 1px;
  background-color: #A6A8AB;
}
#vision{display: none;}
.vision1, .vision2, .vision3{margin-bottom: 71px;}
.vision_header{
  display: flex;
  margin-bottom: 36px;
}
.vision2 .vision_header{
  display: flex;
  margin-bottom: 66px;
}
#vision .title_line{margin-top: 15px;}
#vision .title_line:first-child{width: 52px;}
#vision .title_line:last-child{width: 687px;}
#vision .vision2 .title_line:first-child{width: 687px;}
#vision .vision2 .title_line:last-child{width: 52px;}
.vision_title{
  font-family: 'yg-jalnan';
  color: #3689D7;
  font-size: 32px;
  margin: 0 18px;
}
.vision2 .vision_title{color: #014A8F; text-align: right;}

.vision1>p:nth-child(2){
  background-color: #E9F3FA;
  height: 53px;
  line-height: 53px;
  border-radius: 30px;
  text-align: center;
  font-weight: 600;
  color: #285887;
  margin-bottom: 25px;
}
.vision1>div:last-child{padding: 0 27px;}
.vision1>div p{margin-bottom: 22px;}
.vision1>div p:last-child{margin-bottom: 0;}
.vision2{position: relative; margin-bottom: 66px;}
.vision2 img{
  position: absolute;
  z-index: -1;
  top: 74px;
}
.vision2 .left{right: 115px;}
.vision2 .right{left: 115px;}
.vision2>p{text-align: center;}
.vision2>p:last-child{margin-top: 18px;}
.vision2 .bold{color: #285887; font-weight: 600;}

.vision2 .underline{border-bottom: 2px dashed #285887;}
.vision3>div:last-child{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 27px;
}
.vision3 ul li{display: flex; align-items: center; margin-bottom: 30px;}
.vision3 ul li span{
  width: 37px; height: 37px;
  background-color: #E9F3FA;
  border-radius: 100%;
  text-align: center;
  line-height: 37px;
  font-weight: 500;
  color: #285887;
  margin-right: 9px;
}

/* history */
#history{margin-top: 52px; display: none;}
.history_tab_menu{
  display: flex; 
  gap: 105px;
  align-items: center;
  justify-content: center;
  margin-bottom: 52px;
}
.history_tab_menu li a{
  font-size: 24px;
}
.history_tab_menu li a::before{
  content: '';
  display: inline-block;
  width: 9px; height: 9px;
  margin-right: 10px;
  background-color: #ECF0F3;
  border-radius: 100%;
  left: 0; top: 50%; transform: translateY(-50%);
}
.history_tab_menu li a.active::before{background-color: #014A8F;}

#history>div{display: none;}
#history>div.active{display: block;}
.history_header{display: flex; margin-bottom: 30px;}
#history .title_line:nth-child(1){width: 599px;   margin-top: 29px;}
#history .title_line:last-child{width: 54px;   margin-top: 29px;}

.history_title{
  font-family: 'yg-jalnan';
  font-size: 64px;
  color: #3689D7;
  text-align: right;
  margin: 0 20px;
}
.year{
  font-family: 'yg-jalnan';
  font-size: 32px;
  color: #014A8F;
  display: block;
  margin-bottom: 16px;
}

.history_desc{
  display: flex;
  align-items: center;
  padding: 0 30px;
  margin-bottom: 8px;
}
.history_desc:last-child{
  margin-bottom: 93px;
}
.history_desc p{
  width: 109px; height: 32px;
  line-height: 32px;
  text-align: center;
  background-color: #E9F3FA;
  border-radius: 15px;
  margin-right: 27px;
  color: #285887;
}

/* commu_info */
.commu_info{
  width: 100%; height: 55px;
  padding: 0 31px;
  background-color: #F9F9F9;
  line-height: 55px;
  margin-top: 112px;
  margin-bottom: 49px;
}

.commu_info ul{display: flex;}
.commu_info ul li span{font-size: 14px;}
.commu_info li span:first-child{color: #014A8F;}
.commu_info li span:first-child::after{
  content: ':';
  margin-right: 6px;
}
.commu_info li span:last-child{margin-right: 45px;}
.commu_info li img{
  vertical-align: middle;
  margin-left: 216px;
}

/* .visionhistory_board footer{
  position: absolute;
  bottom: 0px;
} */