/* tab_head */
.alarm_tab_head{
  width: 1278px;
  display: flex; 
  margin-top: 26px;
  height: 66px;
  background-color: #ECF0F3;
  border-radius: var(--bdradius);
}
.alarm_tab_head li a{
  display: block;
  text-decoration: none;
  color: #014A8F;
  font-size: 24px;
  width: 426px; height: 66px;
  line-height: 66px;
  position: relative;
}
.alarm_tab{text-align: center;}
.alarm_desc{display: block; margin: 25px 0; color: #636466; }

/* active */
.alarm_tab_head li a.active{
  border-radius: var(--bdradius);
  background-color: #014A8F;
  color: #fff;
  font-weight: 600;
}

.alarm_tab_head a.active::after{
  content: '';
  border-top: 14px solid #014A8F;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 0px solid transparent;
  position: absolute;
  top: 66px;
  left: 206px;
}

/* tab_content */
#alarm_tab_content>div{display: none;} /* 탭 처음 상태 */
#alarm_tab_content>div:nth-child(1){display: block;} /* 무조건 1번이 보이게 */

#alarm_tab_content .tab{
  text-align: left;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#alarm_tab_content .tab ul{display: flex; gap: 9px;}
#alarm_tab_content .tab ul li{
  width: 420px; height: 437px;
  border-radius: var(--bdradius);
  background-color: #F9F9F9;
  padding: 52px 34px;
  transition: .3s;
}
.status, .d-day{
  font-size: 36px;
  font-weight: 500;
  transition: .3s;
}
.status{margin-bottom: 54px; color: #666;}
.status::before{content: '\0023';}
.alarm_title{
  font-size: 24px; 
  height: 80px; 
  margin-bottom: 40px; 
  color: #666;
  transition: .3s;
}
.date{margin: 40px 0; color: #666;   transition: .3s;}
.d-day{color: #666;}

#alarm_tab_content .line-share{
  background-color: #666;
  transition: .3s;
}
.alarm_content .fa-plus{float: right; margin-top: 25px;}
.alarm_content .fa-plus:hover{color: #014A8F;}

/* hover */
#alarm_tab_content .tab ul li:hover{background-color: #F0F4F9;}
#alarm_tab_content .tab ul li:hover p{color: #2c2c2c;}
#alarm_tab_content .tab ul li:hover .line-share{background-color: #2c2c2c;}
#alarm_tab_content .tab ul li:hover .status, #alarm_tab_content .tab ul li:hover .d-day{color: #014A8F;}
