/* 관련 사이트 dropdown */
.dropdown{
  position: relative;
  display: inline-block;
  width: 266px; height: 59px;
  background-color: #2D3C54;
  border-bottom: 1px solid #586273; 
  margin-left: 550px;
}
.dropbtn{
  color: #fff;
  font-size: 16px;
  padding: 0 20px;
}
.dropbtn i{
  color: #fff;
  font-size: 16px;
  margin-left: 55px;
  transition: .3s;
}
.dropdown_content{
  position: absolute;
  background-color: rgba(241, 241, 241, 0.7);
  backdrop-filter: blur(2px);
  overflow: auto; 
  overflow-y: auto;  
  width: 100%;
  border-radius: 7px 7px 0 0;
  left: 0; bottom: 100%; 
  max-height: 0px;
  overflow-y: hidden;
  transition: max-height 0.3s ease-out;
}
.dropdown_content a {
  color: #666;
  text-decoration: none; 
  height: 40px;
  padding: 0 20px;
  display: block;
  font-size: 16px;
  line-height: 40px;
}
/* custom scrollbar */
.dropdown_content::-webkit-scrollbar {width: 10px;}
.dropdown_content::-webkit-scrollbar-thumb {
    background: rgb(1, 74, 143); /* 스크롤바 색상 */
    border-radius: 10px; /* 스크롤바 둥근 테두리 */
    min-height: 130px; /* 스크롤바 최소 높이 */
}

.dropdown_content::-webkit-scrollbar-track {
    background: rgba(1, 74, 143, .1);  /*스크롤바 뒷 배경 색상*/
    border-radius: 7px;
}

#arrow.rotate{transform: rotate(180deg);}

/* hover */
.dropdown:hover .dropdown_content{display: block;}
.dropdown_content a:hover {background-color: rgba(218, 226, 236, 1); color: #014A8F;}
