.slide_banner{
  width: 1280px;
  display: flex;
  height: 90px;
  border-top: 1px solid #2c2c2c;
}
.swiper_banner_heading{
  display: flex;
  padding: 0 31px;
  width: 149px;
}
.swiper_banner_heading img{
  width: 11px; height: 15px;
  margin: auto 0;
  margin-right: 8px;
}
.swiper_banner_heading h4{
  font-size: 16px;
  line-height: 90px;
}

.slide_banner .swiper-container{
  width: 960px;
  overflow: hidden;
}
.slide_banner .swiper-wrapper{
  width: 960px;
  display: flex;
  height: 90px;
  align-items: center
}

.slide_banner .swiper-slide a{
  white-space : nowrap;
  font-size: 15px;
  line-height: 90px;
  position: relative;
  margin-left: 26px;
}
.slide_banner .swiper-slide a::before{
  content: '';
  width: 4px; height: 4px;
  border-radius: 100%;
  background-color: #025AAB;
  position: absolute;
  left: -20px; top: 50%;
  transform: translateY(-50%);
}

.slide_banner .swiper-slide:hover a{color: #025AAB;}

/* 컨트롤 버튼 */
.banner_controls{line-height: 90px; margin-left: 70px;}
.slide_banner .banner_controls button{
  border: none;
  border: 1px solid #2c2c2c;
  width: 30px; height: 30px;
  border-radius: 7px;
  background-color: #fff;
  cursor: pointer;
  color: #2c2c2c;
}

.slide_banner .banner_controls button:hover i{color: #025AAB;}